@use "./variables.module" as vars

.textArea
    background-color: inherit
    padding: 6px
    margin: 6px
    width: 100%
    height: 100%

.textSpace
    padding: 12px
    flex-grow: 1
    pre
        margin: 0px

.editorTab
    padding: 0px
    margin: 0px
    overflow: auto

.toolBar
    position: absolute
    top: 4px
    right: 10px
