@use "./variables.module" as vars

%insidePage
    width: 100%
    height: 100%
    display: flex
    flex-grow: 1

.uploadFileBox
    @extend %insidePage
    align-items: center
    justify-content: center

.normallyInsidePage
    @extend %insidePage

.uploadFileInfoBox
    transition: vars.$normalTransition
    padding: 24px
