@use "./variables.module" as vars

.uploadFileBox
    width: 100%
    height: 100%
    align-items: center
    flex-grow: 1
    display: flex
    justify-content: center
    
.uploadFileInfoBox
    padding: 24px
